@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800;900&display=swap');

.video-bg {
  width: 100%;
  height: 91vh;
  position: relative;
}
  
  video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upload-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: 'Inter';
  font-weight: 700;
}